node_modules
.env
dist
build

# Backend
backend/node_modules/
backend/.env
backend/service-account.json
backend/firebase-service-account.json

# Frontend
frontend/node_modules/
frontend/dist/

.vscode/
**/.dart_tool/
**/.gradle/
**/.kotlin/